/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  background-color: #fdfdfd;
  position: relative;
}

/* 放置链接/文字溢出，参考：
 * https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
*/
body {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

h1 {
    font-size: 1.6em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    /* padding-top: 30px; */
    margin: 50px 0 40px 0;
    padding: 5px;
    border-bottom: 2px solid LightGrey;
    line-height: 150%;
    color: #666666;
}


h2 {
    font-size: 1.2em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin: 40px 0 30px 0;
    border-bottom: 1px solid LightGrey;
    line-height: 150%;
    color: #666666;
}

h3 {
    font-size: 1em;
    margin: 30px 0 20px 0;
}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* https://gist.github.com/reyesyang/5882836 */
/* 防止链接文字溢出，多出来的文字用省略号 */
/* a { */
/*     display: inline-block; */
/*     text-overflow: ellipsis; */
/*     width: 100%; */
/*     white-space: nowrap; */
/*     overflow: hidden; */
/* } */




/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site footer */

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 500px; /*fallback*/
  width: -webkit-calc(65% - 10px);
  width: -moz-calc(65% - 10px);
  width: -o-calc(65% - 10px);
  width: calc(65% - 10px);
  margin-right: 10px
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

/* 链接到footnote的数字 */
a.footnote {
    margin: 0 2px;
    border: 1px lightgrey solid;
}

hr {
    margin: 40px 0;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  background-color: #fff;
  padding-bottom: 200px;
}


/* 主页的文章列表 */
/* ----------------------------------------------------------*/

.posts {
  list-style-type: none;
  padding-top: 20px;
}

.posts li a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  padding: 15px 20px;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}


.posts li a:hover {
  background-color: #eee;
}

.posts .post-link .post-date {
  display: block;
  font-size: 17px;
  color: darkgray;
}


/* Post styles */
/* ----------------------------------------------------------*/


.meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

blockquote {
    border-left: 5px lightgrey solid;
    padding-left: 15px;
    margin-left: 20px;
    background: #f4f4f4;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

/* 表格增加边框 */
table, th, td {
  border: 1px solid blue;
  border-collapse: collapse;
}

/* 图片不超过屏幕宽度 */
img {
    border-radius: 5px;
    box-shadow: 0px 10px 20px #ccc;
    margin: 20px auto;
    display: block;
    max-width: 90%;
    max-height: 60vh;
/*  border: 2px solid black;*/
}

/* 代码不超过外边框 */
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
    margin: 30px 0;
    border: 1px solid #d5d5e9;
}

.post pre,
.post code {
  background-color: #F4F4F4;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 15px;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }


/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }
